<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if article and article.author %}
        <meta name="author" content="{{ article.author }}" />
        <meta name="copyright" content="{{ article.author }}" />
        {% elif page and page.author %}
        <meta name="author" content="{{ page.author }}" />
        <meta name="copyright" content="{{ page.author }}" />
        {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="copyright" content="{{ AUTHOR }}" />
        {% endif %}

        {% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %}
        {% if SITE_DESCRIPTION %}
        <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
        {% endif %}
        {% block meta_tags_in_head %}
        <meta property="og:type" content="article" />
        {% endblock meta_tags_in_head %}
        <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
        {% block head_links %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/sbu.css" media="screen">
        {% endblock head_links %}
        {% block feed_links %}
        {% include '_includes/feeds.html' %}
        {% endblock feed_links %}
    </head>
    <body>
        <div id="content-sans-footer">
            <div class="headerbar">
                <div class="branding">
                    <div class="logo">
                        <a href="http://www.stonybrook.edu">
                            <img id="sbu-logo" src="{{ SITEURL }}/images/logos/sbu_small.jpg" alt="Stony Brook University">
                        </a>
                    </div>
                    <div class="labname">
                        <a class="brand" href="{{ SITEURL }}/"><span class=site-name>{{ SITENAME }}</span></a>
                    </div>
                    <div class="linglogo">
                        <a href="http://linguistics.stonybrook.edu">
                            <img id="ling-logo" src="{{ SITEURL }}/images/logos/ling_small.jpg" alt="Department of Linguistics">
                        </a>
                    </div>
                </div>
                <div class="navbar">
                    <ul class="top-menu">
                        {% if MENUITEMS %}
                            {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}">{{ title }}</a></li>
                            {% endfor %}
                        {% endif %}
                        {% if DISPLAY_PAGES_ON_MENU %}
                        {% for p in pages %}
                        <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
